<div class="container">
  <h2>Users</h2>
  <p>Create new user <%= link_to "here", new_user_path %></p>
        
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <%= render "users/user", user:user %>
      <% end %>
    </tbody>
  </table>
</div>
